<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPPI_projet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IPPI_projet.Properties.Settings.ChaineConnexion" connectionString="Data Source=JUSTRO\SQL_ITS4;Initial Catalog=DB_IPPI;User ID=sa;Password=its4_2021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <IPPI_projet.Properties.Settings>
                <setting name="TitreApplication" serializeAs="String">
                        <value>IPPI</value>
                </setting>
        </IPPI_projet.Properties.Settings>
    </userSettings>
</configuration>